/*TAG SELECTORS*/
body{
    background-color: #a9fffd
}
p{
    display: inline-block;
}

/*CLASS SELECTORS*/
.btn{
  margin-top: 100px;
}
.frontpage{
    text-align: center;
}

.frontpageHeading{
    color: black;
    display: inline;
    font-family: 'Faster One', cursive;
    font-size: 80px;
    position: relative;
    top: 20px;
}

.frontpageHeading:hover{
  color: black;
  text-decoration: none;
}

.col-sm-4{
  padding-left: 40px;
  padding-right: 40px;
}

.card-body{
  color: #db3056;
}

.card{
  border-radius:10px;
}
