#myProgress {
    width: 100%;
    background-color: grey;
}
  
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

.frontpage{
    text-align: center;
}

.frontpageHeading{
    color: black;
    display: inline;
    font-family: 'Sigmar One', cursive;
    font-size: 5em;
    position: relative;
    top: 20px;
}