body{
  background-color:#a9fffd;
}


.frontpage{
    text-align: center;
}

.frontpageHeading{
  color: black;
  display: block;
  font-family: 'Faster One', cursive;
  font-size: 80px;
  position: relative;
  top: 40px;
  margin: 0 auto;
}

.myProgress{
  position: relative;
  top: 50px;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}
