/*TAG SELECTORS*/
body{
    background-color: #a9fffd
}
p{
    display: inline-block;
}

/*CLASS SELECTORS*/
.frontpage{
    text-align: center;
}

.frontpageHeading{
    color: black;
    display: inline;
    font-family: 'Faster One', cursive;
    font-size: 5em;
    position: relative;
    top: 20px;
}

.col-sm-4{
  padding-left: 40px;
  padding-right: 40px;
}

.card-body{
  color: #ff80b0;
}

.card{
  border-radius:10px;
}
